<div class="main">
  <p class="title-center">＜マイカート＞</p>
  
  <% @user = current_user %>
  
  <!-- 以下テスト用 -->


  <% @user.cart_items.each do |cart_item| %>
    <%= cart_item.title.id %>
  <% end %>




  <%#= @orders_items.each do |orders_item| %>
    <%#= orders_item.cart_item.user_id  %>
    <%#= orders_item.id %>
    <%#= orders_item.order_item_purchase %>
    <%#= orders_item.cart_item_id %>
    <%#= orders_item.created_at %>
    <br>
  <%# end %><!--テスト表示用-->


      <% @cart_items.each do |cart_item| %>
        <div class="cart_items">
          <div class="cart-item-box clearfix">
            <div class="jacket-box">
              <%= attachment_image_tag cart_item.title, :image, :fill, 200, 200 %>


            </div>


            <div class="title-contents clearfix">
              <p class="bold">タイトル</p>
              <%= cart_item.title.title %>
              <p class="bold">アーティスト名</p>
              <%= cart_item.title.artist.artist %>
              <p class="bold">値段</p>
              <%= cart_item.title.price %>
              <p class="bold">ジャンル</p>
              <%= cart_item.title.genre.genre %>
              <p class="bold">レーベル</p>
              <%= cart_item.title.label.label %>
              <p class="bold">在庫数</p>
              <%= cart_item.title.stock %>
              <p class="bold">購入個数</p>

             <%#= form_for @user, url: admin_user_path do |f| %>


              <%= form_for [:user, cart_item] do |f| %>
                <%= cart_item.id %><!--テスト用-->
                <% a = cart_item.title.stock %>
                <%= f.select :purchase_number, options_for_select(((1..a).to_a),:selected => cart_item.purchase_number) %>
                <%#= f.select :purchase_number, [["1",1],["2",2] ] %>
                <!--  -->
                <%#= cart_item.purchase_number %><!--テスト用途-->
                <span>枚</span>

                 <%= f.submit "枚数変更", class:"btn btn-primary" do %>
                   <p class="buttonwidth">枚数変更</p>
                 <% end %>
             <% end %>
　　　　　　　　<br>

              <%= link_to user_cart_item_path(cart_item.id), class: "btn btn-primary",method: :delete, "data-confirm" => "本当に消しますか？" do %>
                <p class="buttonwidth">削除</p>

              <% end %>
            </div>
          </div>
        </div>

    <% end %><!--一番上のcart_itemのeach終わり-->



  <div class="cart-text">
    <p>合計金額:</p>
      <% sum = 0; %>
      <% @cart_items.each do |cart_item| %>
      <% sum += cart_item.title.price * cart_item.purchase_number %>
      <% end %>

　　　 <%= sum %><span> 円</span>


    <%= form_for [:user, @orders_item] do |f| %>
      <span><%= f.submit "購入する", class:"btn btn-primary" %></span>
    <% end %>

    <br>
    <br>
    <p>送付先</p>

    <div class="address-list">
      <!-- <input type="radio"> -->
      <!-- <span>現住所<span><br> -->
       <%#= current_user.postal_code %><br>
       <%#= current_user.address %>
    </div>

    <div class="address-list">
      <input type="radio">
      <span>その他の配送先</span><br>
      <span><button type="button" class="btn btn-primary">
      <p class="buttonwidth">削除</p></button></span>
    </div>



    <div class="address-list">
      <input type="radio">
      <span>新しい配送先入力</span><br>

      <input type="text" value="" class="delivery-address-input" placeholder="">
    </div>
 </div>



</div>