<div class="main">
  <p class="title-center">＜マイカート＞</p>

  <% @user = current_user %>

  <% if @gamen_bunki != 1 %>
    <%# if @delivery_addresses.errors.any? %>
    <!-- <h2><%#= pluralize(delivery_address.errors.count, "error") %> prohibited this delivery_addresses from being saved:</h2> -->
      <%# delivery_address.errors.full_messages.each do |message| %>
        <%#= message %>
      <%# end %>
    <%# end %>

    <div id="box">
      <% @cart_items.each do |cart_item| %>
        <div class="cart_items">
          <div class="cart-item-box clearfix">
            <div class="jacket-box">
              <%= attachment_image_tag cart_item.title, :image, :fill, 200, 200 %>
            </div>


            <div class="title-contents clearfix">
              <p class="bold">タイトル</p>
              <%= cart_item.title.title %>
              <p class="bold">アーティスト名</p>
              <%= cart_item.title.artist.artist %>
              <p class="bold">値段</p>
              <%= cart_item.title.price %>
              <p class="bold">ジャンル</p>
              <%= cart_item.title.genre.genre %>
              <p class="bold">レーベル</p>
              <%= cart_item.title.label.label %>
              <p class="bold">在庫数</p>
              <%= cart_item.title.stock %>
              <p class="bold">購入個数</p>
              <%= form_for [:user, cart_item] do |f| %>
                <% a = cart_item.title.stock %>
                <%= f.select :purchase_number, options_for_select(((1..a).to_a),:selected => cart_item.purchase_number) %>
                <span>枚</span>

                  <%= f.submit "枚数変更", class:"btn btn-primary" do %>
                    <p class="buttonwidth">枚数変更</p>
                  <% end %>
              <% end %>
　　　　　　　　<br>

              <%= link_to user_cart_item_path(cart_item.id), class: "btn btn-primary",method: :delete, "data-confirm" => "本当に消しますか？" do %>
                <p class="buttonwidth">削除</p>

              <% end %>
            </div>
          </div>
        </div>
      <% end %><!--一番上のcart_itemのeach終わり-->
    </div>


    <div class="cart-text">
      <% sum = 0; %>
      <% @cart_items.each do |cart_item| %>
        <% sum += cart_item.title.price * cart_item.purchase_number %>
      <% end %>
      <h2>合計金額 : <span><%= sum %> 円</span></h2>
　　　
      <h4><b>送付先</b></h4>

      <div class="address-list">
        <%= form_for [:user, @orders_item] do |f| %>
          <現住所><br>
          <%= radio_button "c", "d", "b", {:checked => true} %>
          <%= current_user.postal_code %><br>
          <%= current_user.address %><br><br>

          <現住所以外の住所に送付する><br><br>
          <% @delivery_addresses.each do |delivery_address| %>
            <%= radio_button "c", "d", delivery_address.id, {} %>
            <%= delivery_address.delivery_address_postal_code %><br>
            <%= delivery_address.delivery_address %><br>
            <%= link_to "削除", user_delivery_address_path(delivery_address.id),class: "btn btn-primary", method: :delete, "data-confirm" => "この送付先を本当に消しますか？" %><br><br>
          <% end %>
          <br><br>

          <%= f.submit "購入する", class:"btn btn-primary" %>
          <% end %>
          <br><br><br><br>

          <span><新しい配送先登録></span><br>
          <%= form_for [:user, @delivery_address] do |f| %>
            <郵便番号><br>
            <%= f.text_field :delivery_address_postal_code %><br>
            <住所><br>
            <%= f.text_field :delivery_address %>
            <%= f.submit "配送先登録" %>
          <% end %>
      </div>



    <% else %> <!--gamen_bunkiが1であったら、カートは空だと表示する-->

      <h2 div class="kara">カートは空です</h2>
      <br>
      <div class="block">
        <%= link_to :back, class: "btn btn-primary" do %>
          <p class="buttonwidth">戻る</p>
        <% end %>
      </div>

    <% end %>

  </div>
