<div class="main">
  <p class="title-center">＜マイカート＞</p>

  <% @user = current_user %>
      <% @cart_items.each do |cart_item| %>
      <%= @cart_items %>
        <div class="cart_items">
          <div class="cart-item-box clearfix">
            <div class="jacket-box">
              <%= attachment_image_tag cart_item.title, :image, :fill, 200, 200 %>


            </div>


            <div class="title-contents clearfix">
              <p class="bold">タイトル</p>
              <%= cart_item.title.title %>
              <p class="bold">アーティスト名</p>
              <%= cart_item.title.artist.artist %>
              <p class="bold">値段</p>
              <%= cart_item.title.price %>
              <p class="bold">ジャンル</p>
              <%= cart_item.title.genre.genre %>
              <p class="bold">レーベル</p>
              <%= cart_item.title.label.label %>
              <p class="bold">在庫数</p>
              <%= cart_item.title.stock %>
              <p class="bold">購入個数</p>

             <%#= form_for @user, url: admin_user_path do |f| %>


              <%= form_for [:user, cart_item] do |f| %>
                <% a = cart_item.title.stock %>
                <%= f.select :purchase_number, options_for_select(((1..a).to_a),:selected => cart_item.purchase_number) %>
                <%#= f.select :purchase_number, [["1",1],["2",2] ] %>
                <!--  -->
                <%#= cart_item.purchase_number %><!--テスト用途-->
                <span>枚</span>

                 <%= f.submit "枚数変更", class:"btn btn-primary" do %>
                   <p class="buttonwidth">枚数変更</p>
                 <% end %>
             <% end %>
　　　　　　　　<br>

              <%= link_to user_cart_item_path(cart_item.id), class: "btn btn-primary",method: :delete, "data-confirm" => "本当に消しますか？" do %>
                <p class="buttonwidth">削除</p>

              <% end %>
            </div>
          </div>
        </div>

    <% end %><!--一番上のcart_itemのeach終わり-->



  <div class="cart-text">
    <p>合計金額:</p>
      <% sum = 0; %>
      <% @cart_items.each do |cart_item| %>
      <% sum += cart_item.title.price * cart_item.purchase_number %>
      <% end %>

　　　 <%= sum %><span> 円</span>

  <p>送付先</p>

    <div class="address-list">
      <現住所><br>
      

     


        <%= current_user.postal_code %><br>
        <%= current_user.address %>
        
      </label>
    </div><br>

    <div class="address-list">
      <span><その他の配送先></span><br>
        
      <%= form_for([:user, @order]) do |f| %>
        <% @delivery_addresses.each do |delivery_address| %>
           <%= f.radio_button :sub_post_code, delivery_address.delivery_address_postal_code %>
           <% binding.pry %>
           <%= @order.sub_address = delivery_address.delivery_address %><br>
           <%#= i.delivery_address %><br>
        <% end %>
        <%= f.submit "a"%>
      <% end %>



          <%#= delivery_address.delivery_address_postal_code %><br>
          <%#= delivery_address.delivery_address %>
      <span><button type="button" class="btn btn-primary">
      <p class="buttonwidth">削除</p></button></span><br><br>

    </div>











    <div class="address-list">
      <!-- <input type="radio"> -->
      <span>新しい配送先入力</span><br>

      <%= form_for [:user, @delivery_address] do |f| %>
        <郵便番号><br>
        <%= f.text_field :delivery_address_postal_code %><br>
        <住所><br>
        <%= f.text_field :delivery_address %>
        <%= f.submit "配送先登録" %>
      <% end %>
       <!-- <input type="text" value="" class="delivery-address-input" placeholder=""> -->
    </div>



    <%= form_for [:user, @orders_item] do |f| %>
      <span><%= f.submit "購入する", class:"btn btn-primary" %></span>
    <% end %>

    <br>
    <br>



</div>
