<div class="main">
<div class="account-box">


<!-- <h2>Edit <%= resource_name.to_s.humanize %></h2> -->

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :新しいパスワード %> <i>(変更したくない場合は空にしてください)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> 文字以上入力してください</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :新しいパスワード確認用 %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :現在のパスワード %> <i>(変更確認のため現在のパスワード入力が必要です)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "更新" %>
  </div>
<% end %>
<br>

<%= button_to "アカウント削除", registration_path(resource_name), data: { confirm: "本当に削除しますか？?" }, method: :delete %></p>

<%= link_to "戻る", :back %>

</div>
</div>
