<p id="notice"><%= notice %></p>

<h1>アーティスト一覧</h1>

<table>
  <thead>
    <tr>
      <th>アーティスト</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @artists.each do |artist| %>
      <tr>
        <td><%= artist.artist %></td>
        <td><%= link_to '編集', edit_admin_artist_path(artist) %></td>
        <td><%= link_to '削除', [:admin, artist], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= paginate @artists %><br>
<%= link_to 'アーティスト登録', new_admin_artist_path %>
