<div class="main">
<div class="history-area">
  	<p class="title-center">＜購入履歴＞</p>
    
    <% @orders.each do |order| %>

    <div class="history-box">
      <div class="history-contents">
        <p class="bold">購入者</p>
        <%= order.user.name %><br><br>
        <!-- コントローラで -->
        <%#= order.orders_item.cart_item.user.id %>
        <p class="bold">購入日時</p>
        <%= order.created_at %><br><br>
        <p class="bold">購入内容</p>
        <% order.orders_items.each do |orders_item| %>
          <%# テスト用　= orders_item.id %>
          <%= orders_item.cart_item.title.title %>&nbsp;&nbsp;
          <%= orders_item.cart_item.purchase_number %>個&nbsp;&nbsp;
          <%= orders_item.order_item_purchase %>円&nbsp;
            <div class="status">
              <%= form_for orders_item, url: admin_orders_item_path(orders_item.id) do |f| %>
              <%= f.select :status, OrdersItem.statuses.keys.to_a %>
              <%= f.submit "更新" %>
            <% end %>
          </div>
          </span>
          <br>
        <% end %>
        <br>
        <%# @orders_items.each do |orders_item| %>
          <%#= orders_item.cart_item.title.title %>
        <%# end %>
        <%#= order.cart_items %>
        <p class="bold">総計</p>
        <%= order.order_purchase %>円<br><br>
        <p class="bold">送付先</p>
        <%= order.sub_post_code %><br>
        <%= order.sub_address %>
      </div>
　　 </div>
    <% end %>
  </div>

  <div class="block">
    <%= link_to :back, class: "btn btn-primary" do %>
      <p class="buttonwidth">戻る</p>
    <% end %>
  </div>

  <div id="pagination">
    <%= paginate @orders, class:"pagenate" %>
  </div>

</div>