<%= form_for([:admin, @genre]) do |form| %>
  <% if genre.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(genre.errors.count, "error") %> prohibited this genre from being saved:</h2>

      <ul>
      <% genre.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ジャンル名 %>
    <%= form.text_field :genre %>
    <a>削除</a>
  </div>
  
    <%= fields_for @genre do |fa| %>
      <%= form.label :ジャンル名 %>
      <%= form.text_field :genre %><a>削除</a><br>
      <%= form.label :ジャンル名 %>
      <%= form.text_field :genre %><a>削除</a>
    <% end %>
  
  <div class="actions">
    <a style="background-color:silver">追加</a><br>
    <%= form.submit %>
  </div>
<% end %>
