<%= form_for([:admin, @genre]) do |form| %>
  <% if genre.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(genre.errors.count, "") %> 件のエラーが発生したためジャンルは保存されませんでした。</h2>

      <ul>
      <% genre.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ジャンル名 %>
    <%= form.text_field :genre %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
