<%= form_for([:admin, @label]) do |form| %>
  <% if label.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(label.errors.count, "error") %> prohibited this label from being saved:</h2>

      <ul>
      <% label.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :レーベル %>
    <%= form.text_field :label %>
  </div>
  <%= fields_for @genre do |fa| %>
      <%= form.label :レーベル %>
      <%= form.text_field :label %><a>削除</a><br>
      <%= form.label :レーベル %>
      <%= form.text_field :label %><a>削除</a>
    <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
