<div class="main">
  <div class="user-account-box">
  	<div class="input-area">

    <div class="user-account-columns">
      <p class="bold">名前</p>
      <div class="input-form-show">
        <%= @user.name %>
      </div>
    </div>
    <div class="user-account-columns">
      <p class="bold">名前（カナ）</p>
        <div class="input-form-show">
          <%= @user.name_kana %>
        </div>
    </div>
    <div class="user-account-columns">
      <p class="bold">郵便番号</p>
      <div class="input-form-show">
        <%= @user.postal_code %>
      </div>
    </div>
    <div class="user-account-columns">
      <p class="bold">住所</p>
      <div class="input-form-show">
        <%= @user.address %>
      </div>
    </div>
    <div class="user-account-columns">
      <p class="bold">電話番号</p>
      <div class="input-form-show">
        <%= @user.tel_number %>
      </div>
    </div>
    <div class="user-account-columns">
      <p class="bold">メールアドレス</p>
      <div class="input-form-show">
        <%= @user.email %>
      </div>
    </div>

    <div class="right">
      <%= link_to edit_user_user_path, class: "btn btn-primary" do %>
        <p class="buttonwidth">編集</p>
        <% end %>
    </div>
  </div>
  </div>

 <div class="block">
    <%= link_to :back, class: "btn btn-primary" do %>
      <p class="buttonwidth">戻る</p>
    <% end %>
  </div>
   
 <div class="pass-link">
   <%=link_to "パスワードを変更する", edit_user_registration_path %>
 </div>


  <div class="history-area">
    <p class="title-center">＜購入履歴＞</p>
    
    <% @orders.each do |order| %>

    <div class="history-box">
      <div class="history-contents">
        <!-- コントローラで -->
        <%#= order.orders_item.cart_item.user.id %>
        <p class="bold">購入日時</p>
        <%= order.created_at %><br><br>
        <p class="bold">購入内容</p>
        <%= order.orders_items.each do |orders_item| %>
          <%= orders_item.cart_item_id %>
          <%= orders_item.order_item_purchase %>円
          <%#= select :status,:name,OrdersItem.statuses.keys.to_a %>
          <%= orders_item.status %>
          <br>
        <% end %>
        <br>
        <%# @orders_items.each do |orders_item| %>
          <%#= orders_item.cart_item.title.title %>
        <%# end %>
        <%#= order.cart_items %>
        <p class="bold">総計</p>
        <%= order.order_purchase %>円<br><br>
        <p class="bold">送付先</p>
        <%= order.sub_post_code %><br>
        <%= order.sub_address %>
      </div>
　　 </div>
    <% end %>
  </div>

</div>
