

<%= form_for([:admin, title]) do |f| %>
        <div class="col-lg-4" style="background-color: green">
            <p>CDジャケット:</p>
            <%= f.attachment_field :image %>

    		<p>タイトル:</p>
            <!-- <span style="color:darkred">Error</span> -->
            <!-- <div class="form-group has-error has-feedback"> -->
                <%= f.text_field :title,type:"text", class:"form-control require_title require" %>
<!--                 <span class="glyphicon glyphicon-remove form-control-feedback"></span>
            </div> -->
            <table>
                <tbody>
                    <tr>
                        <td><p>アーティスト名:</p></td>
                        <td><%= f.select :artist_id, @artist_select %></td>

                    </tr>
                    <tr>
                        <td><p>ジャンル名:</p></td>
                        <td><%= f.select :genre_id, @genre_select %></td>
                    </tr>
                    <tr>
                        <td><p>レーベル名:</p></td>
                        <td><%= f.select :label_id, @label_select %></td>
                    </tr>
                </tbody>
            </table>
            <p>値段:</p>
            <%= f.text_field :price, class:"form-control require_price require" %>
            <p>在庫数:</p>
            <%= f.text_field :stock, class:"form-control require_stock require" %>
            <%= link_to "戻る", admin_titles_path, class:"btn btn-primary"%>
            <%= f.submit "登録", class:"btn btn-primary" %>
    	</div>
        <div class="col-lg-8" style="background-color: blue">
            <div id="discs">
                <%= f.fields_for :discs do |disc| %>
                    <%= render 'disc_fields', f: disc %>
                <% end %>
            <div id="links">
                <%= link_to_add_association 'discを追加', f,:discs, class: 'btn btn-primary' %>
            </div>
        </div>
    </div>
<% end %>





            <script>
                // $(".test").on('click', function(){
                //     $(".test").css("color","blue")
                // });
                $('.require')
                .on('blur', function(){
                    let error;
                    let value = $(this).val();
                    let v = $(this);
                    var i=0;
                    var num = ['.require_title', '.require_price'];
                    // if (){

                    // };

                    if(value == "")
                    {
                        error = true;
                    }
                    if(error)
                    {
                        switch(i)
                        {
                            case i=0:
                                $(num[i]).after(
                                  '<span style ="color:red" class = "error-info">タイトルを入力してください</span>');
                            break;
                            case i=1:
                            // case :
                                $(num[i]).after(
                                  '<span style ="color:red" class = "error-info">数値を入力してください</span>');
                            break;
                        }
                    }

                })
                .on('click', function(){
                    $('.error-info').hide();
                });
            </script>


