<h2>管理者商品編集</h2>

<div class="container"> <!-- ここを追加 -->
    <div class="row" style="background-color: #EEEEEE">   <!-- ここを追加 -->
    	<div class="col-lg-3" style="background-color: red">
    <%= form_for @title do |f| %>
    		<div>
                <p>
                    画像
                </p>
    			<%= f.attachment_field :image %>
    		</div>

    	</div>
    	<div class="col-lg-4" style="background-color: green">
    		<p>タイトル</p>
            <%= f.text_field :title, class:"form-control" %>
            <p>アーティスト名</p>
            <%= f.select :artist_id, [["アーティストA", "アーティストAのid"],["アーティストB", "アーティストBのid"]], class:"form-control"%>
            <p>値段</p>
            <%= f.text_field :title, class:"form-control" %>
            <p>ジャンル</p>
            <%= f.select :artist_id, [["ジャンルA", "1"],["ジャンルB", "2"]], class:"form-control"%>
            <p>レーベル</p>
            <%= f.select :artist_id, [["レーベルA", "1"],["レーベルB", "2"]], class:"form-control"%>
            <p>在庫数</p>
            <%= f.text_field :stock, class:"form-control" %>
            
            <%= link_to "戻る", admin_titles_path, class:"btn btn-primary"%>
            <button type="button" id="sampleButtonSingleToggle" class="btn btn-primary" data-toggle="button" autocomplete="off">
                更新
            </button>

    	</div>

    	<div class="col-lg-5" style="background-color: blue">
            <!-- eachで繰り返す -->
    		<p>disc1</p>
            <table>
                <tbody>
                    <tr>
                        <th>曲順</th>
                        <th>曲名</th>
                    </tr>
                    <tr>
                        <td>曲順テーブルから持ってくる</td>
                        <td>曲名テーブルから持ってくる</td>
                    </tr>
                </tbody>
 　          </table>
            <p>disc2</p>
            <table>
                <tbody>
                    <tr>
                        <th>曲順</th>
                        <th>曲名</th>
                    </tr>
                    <tr>
                        <td>曲順テーブルから持ってくる</td>
                        <td>曲名テーブルから持ってくる</td>
                    </tr>
                </tbody>
 　          </table>

    <% end %>

    	</div>

