<h2>管理者商品一覧</h2>
<% @titles.each do |title| %>
<div class="container"> <!-- ここを追加 -->
    <div class="row" style="background-color: #EEEEEE">   <!-- ここを追加 -->

    	<div class="col-lg-2" style="background-color: red">


    	</div>
    	<div class="col-lg-4" style="background-color: lightgreen">
            <div>
               <%= attachment_image_tag title, :image, :fill, 300, 300 %>
            </div>
        </div>
        <div class="col-lg-2" style="background-color: green">
            <div>
                <p>タイトル:</p>
                <%= title.title %>
                <p>アーティスト名:</p>
                <!-- artistテーブルから持ってこれるように -->
                <p><%= title.artist_id %></p>
                <p>値段:</p>
                <%= title.price %>
                <p>ジャンル:</p>
                <%= title.genre_id %>
                <p>レーベル:</p>
                <%= title.label_id %>
                <p>在庫:</p>
                <% if (title.stock == 0) %>
                    <p>無</p>
                <% else %>
                    <p>有</p>
                <% end %>
                <p>在庫数:</p>
                <%= title.stock %>
            </div>
    	</div>
    	<div class="col-lg-3" style="background-color: blue">
            <%= link_to "編集", edit_admin_title_path(title.id), class:"btn btn-primary" %><br>
            <%= link_to "削除", admin_title_path(title.id), method: :delete, class:"btn btn-primary" %>
        </div>
	</div>
</div>
<% end %>

       <%= paginate @titles, class: "pagenate" %>

