<h2>商品新規登録</h2>

<div class="container"> <!-- ここを追加 -->
    <div class="row" style="background-color: #EEEEEE">   <!-- ここを追加 -->
        <%= form_for([:admin, @title]) do |f| %>
        	<div class="col-lg-3" style="background-color: red">
        		<div>
                    <p>
                        画像
                    </p>
                    <%= f.attachment_field :image %>

        		</div>

        	</div>
        	<div class="col-lg-4" style="background-color: green">

        		<p>タイトル</p>
                <%= f.text_field :title, class:"form-control" %>

                <p>アーティスト名</p>
                <!-- アーティストテーブルから名前を表示して、artist_idを登録 -->
                <%= f.select :artist_id, [["アーティストA", "1"],["アーティストB", "2"]], class:"form-control"%>
                <p>値段</p>
                <%= f.text_field :price, class:"form-control" %>
                <p>ジャンル</p>
                <%= f.select :genre_id, [["ジャンルA", "1"],["ジャンルB", "2"]], class:"form-control"%>
                <p>レーベル</p>
                <%= f.select :label_id, [["レーベルA", "1"],["レーベルB", "2"]], class:"form-control"%>
                <p>在庫数</p>
                <%= f.text_field :stock, class:"form-control" %>

                <%= link_to "戻る", admin_titles_path, class:"btn btn-primary"%>
                <%= f.submit "登録", class:"btn btn-primary" %>

        	</div>
            
        	<div class="col-lg-5" style="background-color: blue">
                <%= f.fields_for ([:admin, @disc]) do |disc| %>
                <p>disc1</p>
                <%= render 'disc_fields', f: disc %>
                <% end %>
                <%= link_to_add_association 'discを追加', f,:discs, class: 'btn btn-primary' %>
            </div>
            
        <% end %>
    </div>
</div>

