<h2>ユーザー商品詳細</h2>

<div class="container"> <!-- ここを追加 -->
    <div class="row" style="background-color: #EEEEEE">   <!-- ここを追加 -->
    	<div class="col-lg-2" style="background-color: red">
    	</div>
        <div class="col-lg-4" style="background-color: lightgreen">
            <div>
               <%= attachment_image_tag @title, :image, :fill, 300, 300 %>
            </div>
        </div>
        <div class="col-lg-2" style="background-color: green">
            <div>
                <p>タイトル:</p>
                <%= @title.title %>
                <p>アーティスト名:</p>
                <%= @title.artist_id %>
                <p>値段:</p>
                <%= @title.price %>
                <p>ジャンル:</p>
                <%= @title.genre.genre %>
                <p>レーベル:</p>
                <%= @title.label.label %>
                <p>在庫:</p>
                <% if (@title.stock == 0) %>
                    <p>無</p>
                <% else %>
                    <p>有</p>
                <% end %>
            </div>
        </div>
        <div class="col-lg-2" style="background-color: orange">
        <%= form_for([:user, @cart_item]) do |f| %>
            <%= f.text_field :purchase_number %>
            <%= f.hidden_field :title_id, value: @title.id %>
            <%= f.submit "カートに追加", class:"btn btn-primary"%>
        <% end %>

        </div>
    	<div class="col-lg-2" style="background-color: blue">
            <%= link_to "カート詳細へ", user_cart_items_path, class:"btn btn-primary"%>
    	</div>
    </div>
</div>

<div class="container"> <!-- ここを追加 -->
    <div class="row" style="background-color: #CCCCCC">   <!-- ここを追加 -->
        <div class="col-lg-2" style="background-color: red">
        </div>
    <% @discs.each do |disc| %>
        <div class="col-lg-4" style="background-color: green">
            <h3><%= disc.disc_name %></h3>
            <table style="border-collapse:separate; border-spacing:5px">
                <tbody>
                    <tr>
                        <th>曲順</th>
                        <th>曲名</th>
                        <th>試聴</th>
                    </tr>
                    <% @songs.where(disc_id: disc.id).each do |song| %>
                    <tr>
                        <td><%= song.song_order %></td>
                        <td><%= song.song_title %></td>
                        <td>
                            <button type="button" id="sampleButtonSingleToggle" class="btn btn-primary" data-toggle="button" autocomplete="off">
                             ▶︎
                            </button>
                        </td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    <% end %>

        <div class="col-lg-2" style="background-color: blue">
            <%= link_to "戻る", root_path, class:"btn btn-primary"%>
        </div>
    </div>
</div>



