<div class="main">

  <div class="user-account-box">
  	<div class="input-area">

    <div class="user-account-columns">
      <p class="bold">名前</p>
      <div class="input-form-show">
        <%= @user.name %>
      </div>
    </div>
    <div class="user-account-columns">
      <p class="bold">名前（カナ）</p>
        <div class="input-form-show">
          <%= @user.name_kana %>
        </div>
    </div>
    <div class="user-account-columns">
      <p class="bold">郵便番号</p>
      <div class="input-form-show">
        <%= @user.postal_code %>
      </div>
    </div>
    <div class="user-account-columns">
      <p class="bold">住所</p>
      <div class="input-form-show">
        <%= @user.address %>
      </div>
    </div>
    <div class="user-account-columns">
      <p class="bold">電話番号</p>
      <div class="input-form-show">
        <%= @user.tel_number %>
      </div>
    </div>
    <div class="user-account-columns">
      <p class="bold">メールアドレス</p>
      <div class="input-form-show">
        <%= @user.email %>
      </div>
    </div>

    <div class="right">
      <%= link_to edit_admin_user_path, class: "btn btn-primary" do %>
        <p class="buttonwidth">編集</p>
        <% end %>
    </div>

    </div>
  </div>

  <div class="block">
    <%= link_to :back, class: "btn btn-primary" do %>
      <p class="buttonwidth">戻る</p>
    <% end %>
  </div>



  <p class="title-center">＜購入履歴＞</p>

  <% @orders.each do |order| %>
    <% order.orders_items.each do |orders_item| %>
      <div class="container main user-history">
        <div class="row" style="background-color: #EEEEEE">
          <div class="col-lg-4">
            <div>
              <%= attachment_image_tag orders_item.cart_item.title, :image, :fill, 300, 300 %>
              </div>
          </div>
          <div class="col-lg-2 user-history">
            <div>
              <p><b>タイトル:</b></p>
              <%= orders_item.cart_item.title.title %><br><br>
              <p><b>アーティスト名:</b></p>
              <%= orders_item.cart_item.title.artist.artist %><br><br>
              <p><b>購入個数</b></p>
              <%= orders_item.cart_item.purchase_number %><br><br>
              <p><b>購入金額:</b></p>
              <%= orders_item.cart_item.title.price %>円<br><br>
              <p><b>ジャンル:</b></p>
              <%= orders_item.cart_item.title.genre.genre %><br><br>
              <p><b>レーベル:</b></p>
              <%= orders_item.cart_item.title.label.label %><br><br>
              <p><b>購入日時</b></p>
              <%= order.created_at %><br><br>
              <p><b>配送先</b></p>
              <%= order.sub_post_code%>&nbsp&nbsp
              <%= order.sub_address%><br><br>
              <p><b>配送状況</b></p>
              <%= orders_item.status %>
            </div>
          </div>

        </div>
      </div>
    <% end %>
  <% end %>


 </div>
