

<!DOCTYPE html>
<html>
  <head>
    <title>CDshop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
　　<%= javascript_include_tag 'application', 'data-turbolinks-track': ' reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
　<header>
    <div class="header">
      <div class="header-contents">

        <%= image_tag 'logo.png', :size =>'150x90' %>
</div>
      <div class="searchbox">
        <% if admin_signed_in? %>
          <%= form_tag admin_titles_path, :method => 'get' do %>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag '検索', :title =>nil %>
          <% end %>
        <% else %>
          <%= form_tag user_titles_path, :method => 'get' do %>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag '検索', :title =>nil %>
          <% end %>
        <% end %>
      </div>
      <nav class="header-nav">
        <ul class="header-text">
          <% if admin_signed_in? %>
          <%= link_to admin_titles_path do %>
            <li class="header-list">管理者</li>
          <% end %>
            <span class="header-list">/</span>

            <li class="header-list">
              <div class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">一覧 <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item">
                    <%= link_to "レーベル", admin_labels_path %>
                  </li>
                  <li class="dropdown-item">
                    <%= link_to "アーティスト", admin_artists_path %>
                  </li>
                  <li class="dropdown-item">
                    <%= link_to "ジャンル", admin_genres_path %>
                  </li>
                  <li class="dropdown-item">
                    <%= link_to "商品", admin_titles_path %>
                  </li>
                  <li class="dropdown-item">
                    <%= link_to "ユーザー", admin_users_path %>
                  </li>
                </ul>
              </div>
            </li>
            <span class="header-list">/</span>

            <li class="header-list">
              <div class="dropdown">
                <a href="#" class="dropdown-toggle" style="text-decoration: none;" data-toggle="dropdown">新規登録 <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item">
                    <%= link_to "レーベル", new_admin_label_path %>
                  </li>
                  <li class="dropdown-item">
                    <%= link_to "アーティスト", new_admin_artist_path %>
                  </li>
                  <li class="dropdown-item">
                    <%= link_to "ジャンル", new_admin_genre_path %>
                  </li>
                  <li class="dropdown-item">
                    <%= link_to "商品", new_admin_title_path %>
                  </li>
                </ul>
              </div>
            </li>
            <span class="header-list">/</span>
            <%= link_to admin_orders_path do %>
            <li class="header-list">購入履歴</li>
            <% end %>
            <span class="header-list">/</span>
            <%= link_to destroy_admin_session_path, method: :delete do %>
            <li class="header-list">ログアウト</li>
            <% end %>



          <% elsif user_signed_in? %>
            <%= link_to user_user_path(current_user.id) do %>
              <li class="header-list">
                <%= current_user.name %>
              </li>
            <% end %>
            <span class="header-list">/</span>
            <li class="header-list">
              <%= link_to "🛒", user_cart_items_path(current_user.id) %>
            </li>
            <span class="header-list">/</span>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <li class="header-list">ログアウト</li>
            <% end %>
           <% else %>
             <%= link_to new_user_registration_path do %>
               <li class="header-list">新規登録</li>
             <% end %>
             <span class="header-list">/</span>
             <%= link_to new_user_session_path do %>
               <li class="header-list">ログイン</li>
             <% end %>
          <% end %><!--ifのend-->

        </ul>
      </nav>
      </div>
    </div>
  </header>

</div>
    <%= yield %>
  </body>
</html>

